<%- include('partials/header') %>

<div class="jumbotron text-center">
    <div class="container">
        <i class="fas fa-key fa-6x"></i>
        <h1 class="display-3">You are inside your profile now!</h1>
        <p class="secret-text">You have access to your dashboard</p>
        <hr>
        <!--========================================================================-->
        <section style="background-color: #eee;">
            <div class="container py-5">
                <div class="row">
                    <div class="col">
                        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                            <h2>User Profile</h2>
                        </nav>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card mb-4">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0 text-left">Username</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0 text-left"><%= username %></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0 text-left">Name</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0 text-left"><%= name %></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0 text-left">Email</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0 text-left"><%= email %></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0 text-left">Age</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0 text-left"><%= age %></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0 text-left">Gender</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0 text-left"><%= gender %></p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--========================================================================-->
        <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    </div>
</div>

<%- include('partials/footer') %>
